server:
  port: 5100

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:5000/eureka

spring:
  cloud:
    config:
      server:
        git:
          uri: git@192.168.3.2:/git-repositories/guoguo/spring-cloud/kotlin-demo.git
          default-label: master
          search-paths: config-yml
  security:
    basic:
      enabled: true
    user:
      name: guoguo
      password: guoguo